body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main-dashboard{
    width: 95%;
    height: 85vh;
    margin: 0.5rem auto;
    background: white;
}
.dashboard-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.dashboard-portfolio{
    width: 40%;
}

.dashboard-pnl-market{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard-pnl{
    height: 30%;
}
.dashboard-market{
    height: 60%;
}
.crypto-portfolio-listing{
    display: flex;
    justify-content: flex-start;
}
.column{
    text-align: left;
    margin-right: 1rem;
    width: 25%;
}
.market-preview-container{
    display: flex;
    justify-content: space-around;
}
.mpr_column{
    width: 50%;
}
.img-top-gainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.logo-and-des{
    display: flex;
    justify-content: flex-start;
}
.logo-and-des>img{
    height: 2rem;

}
.logo-and-des>p{
    padding-top: 0.1rem;
    margin-right: 0.5rem;
}
.bitcoin-data{
    width: 30%;
    margin: 2px auto;
}
.bitcoin-data>img{
    width: 100%;
}
.bitcoin-data-p{
    text-align: center;
    padding-top: 0.5rem;
    font-size: 1.4rem;
}

/*add query to all boxes look the same*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .main-dashboard{
      height: auto;
    }
    .dashboard-container{
        flex-direction: column;
        align-items: center;
    }
    .dashboard-portfolio{
        width: 95%;
    }
    .dashboard-pnl-market{
        width: 95%;
        margin-bottom: 0.5rem;
    }
    .dashboard-pnl{
        margin-bottom: 0.5rem;
    }
  }